:root {
  background-color: #d7cde1;

  --fg: #22181c;
  --link-fg: #7a79b7;
  --link-fg-hover: #00afb5;
  --font-size: 16px;
}

@font-face {
  font-family: "Iosevka";
  src: url("fonts/iosevka-light.woff2") format("woff2");

  font-stretch: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  transition: all 0.2s linear;
  text-decoration: none;
  color: var(--link-fg) !important;
}

a:hover {
  color: var(--link-fg-hover) !important;
}

h1,
h2 {
  font-weight: 500;
}

ul {
  list-style: none;
}

li:before {
  content: "⋄";
  padding-right: 0.5rem;
}

body {
  display: grid;
  grid-template-columns: 1fr min(100%, 80ch) 1fr;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  font-family: Iosevka, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  text-align: left;
  color: var(--fg);
}

body > * {
  grid-column: 2;
}

.resume-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "name github github"
    "position email email"
    "intro intro intro";
}

.resume-header > * {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .resume-header {
    display: flex;
    flex-direction: column;
  }
}

.resume-header__name {
  grid-area: name;
}

.resume-header__position {
  grid-area: position;
  margin-top: 0rem;
}

.resume-header__github {
  grid-area: github;
  font-size: 2rem;
  text-align: right;
}

.resume-header__email {
  grid-area: email;
  margin-top: 0rem;
  font-size: 1.5rem;
  text-align: right;
}

.resume-header__intro {
  grid-area: intro;
  margin-top: 1rem;
}

.resume-header__intro > ul > li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "keyskills keyskills keyskills"
    "frontend backend devops"
    "history history history"
    "history-last history-second history-first"
    "git git git"
    "git-last git-second git-first";
}

.resume > * {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .resume {
    display: flex;
    flex-direction: column;
  }
}

.resume-keyskills {
  grid-area: keyskills;
  margin-top: 1rem;
}

.resume-frontend {
  grid-area: frontend;
  padding-right: 1rem;
}

.resume-backend {
  grid-area: backend;
  margin-top: 0;
  padding-right: 1rem;
}

.resume-devops {
  grid-area: devops;
  margin-top: 0;
}

.resume-history {
  grid-area: history;
  margin-top: 1rem;
}

.resume-history__first {
  grid-area: history-first;
  margin-top: 0;
}

.resume-history__second {
  grid-area: history-second;
  margin-top: 0;
  padding-right: 1rem;
}

.resume-history__last {
  grid-area: history-last;
  padding-right: 1rem;
}

.resume-git {
  grid-area: git;
  margin-top: 1rem;
}

.resume-git__first {
  grid-area: git-first;
}

.resume-git__second {
  grid-area: git-second;
  padding-right: 1rem;
}

.resume-git__last {
  grid-area: git-last;
  padding-right: 1rem;
}

.resume-image {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 150px;
  width: 200px;
  object-fit: none;
  object-position: 0 0;
}

@media (max-width: 600px) {
  .resume-image {
    height: 150px;
    width: 300px;
  }
}
